@model List<ClienteModel>
@{
    ViewData["Title"] = "Listagem de Clientes";
}

<main class="text-center text-light">
    <div class="d-md-flex justify-content-between mb-4">
        <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Create">Adicionar novo cliente</a>
    </div>

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success  mb-2" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger mb-2" role="alert">
            @TempData["MensagemErro"]
        </div>
    }    
    

    <h1 class="text-white">Listagem de Clientes</h1>
    <table id="table-format" class="table text-white-50">
        <thead>
            <tr class="text-white">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cidade</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ClienteModel cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.IdCliente</th>
                        <td>@cliente.NmCliente</td>
                        <td>@cliente.Cidade</td>
                        <td>
                            <div class="btn-group gap-2" role="group" aria-label="Basic Example">
                                <a role="button" class="btn btn-primary" asp-route-id="@cliente.IdCliente" asp-controller="Cliente" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@cliente.IdCliente" asp-controller="Cliente" asp-action="ConfirmDelete">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>
